In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

# untuk Data Split
from sklearn.model_selection import train_test_split #testing dan training data
# untuk Data Transforming
from sklearn.preprocessing import StandardScaler #standarisasi
from sklearn.preprocessing import MinMaxScaler #normalisasi
# untuk Data Cleaning
from sklearn.impute import SimpleImputer #subtitusi nilai
# untuk Data Encoding
from sklearn.preprocessing import OrdinalEncoder #encoder
from sklearn.preprocessing import OneHotEncoder #onehot

In [2]:
df = pd.read_csv('Indonesia_coronavirus_daily_data.csv')
df.head()

,Date,Province,Daily_Case,Daily_Death,Daily_Recovered,Active_Case,Cumulative_Case,Cumulative_Recovered,Cumulative_Death,Cumulative_Active_Case
0,2020-03-01,DKI JAKARTA,2,0,0,2,2,0,0,2
1,2020-03-02,DKI JAKARTA,2,0,0,2,4,0,0,4
2,2020-03-03,DKI JAKARTA,2,0,0,2,6,0,0,6
3,2020-03-04,DKI JAKARTA,2,0,0,2,8,0,0,8
4,2020-03-05,DKI JAKARTA,0,1,0,-1,8,0,1,7

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17613 entries, 0 to 17612
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    17613 non-null  object
 1   Province                17613 non-null  object
 2   Daily_Case              17613 non-null  int64
 3   Daily_Death             17613 non-null  int64
 4   Daily_Recovered         17613 non-null  int64
 5   Active_Case             17613 non-null  int64
 6   Cumulative_Case         17613 non-null  int64
 7   Cumulative_Recovered    17613 non-null  int64
 8   Cumulative_Death        17613 non-null  int64
 9   Cumulative_Active_Case  17613 non-null  int64
dtypes: int64(8), object(2)
memory usage: 1.3+ MB

In [4]:
df.isna().sum()

Date                      0
Province                  0
Daily_Case                0
Daily_Death               0
Daily_Recovered           0
Active_Case               0
Cumulative_Case           0
Cumulative_Recovered      0
Cumulative_Death          0
Cumulative_Active_Case    0
dtype: int64

In [5]:
print(f'panjang dataset {len(df)} baris')

panjang dataset 17613 baris

In [51]:
df2 = pd.read_csv('data-jumlah-penduduk-berdasarkan-pendidikan-tahun-2021.csv')
df2.head()

,tahun,nama_provinsi,nama_kabupaten,nama_kecamatan,nama_kelurahan,pendidikan,jumlah
0,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,Tidak/Belum Sekolah,124
1,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,Belum Tamat SD/Sederajat,747
2,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,Tamat SD/Sederajat,1238
3,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,SLTP/Sederajat,988
4,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,SLTA/Sederajat,2556

In [52]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tahun           2666 non-null   int64
 1   nama_provinsi   2666 non-null   object
 2   nama_kabupaten  2666 non-null   object
 3   nama_kecamatan  2666 non-null   object
 4   nama_kelurahan  2666 non-null   object
 5   pendidikan      2666 non-null   object
 6   jumlah          2666 non-null   int64
dtypes: int64(2), object(5)
memory usage: 145.9+ KB

In [53]:
df2.isna().sum()

tahun             0
nama_provinsi     0
nama_kabupaten    0
nama_kecamatan    0
nama_kelurahan    0
pendidikan        0
jumlah            0
dtype: int64

In [54]:
print(f'panjang dataset {len(df2)} baris')

panjang dataset 2666 baris

In [7]:
data = df[['Province']]
label = df['Daily_Case']

data_train, data_test, label_train, label_test = train_test_split(data, label, test_size=.3)

In [8]:
print(f'panjang data training {len(data_train)}',
     f'panjang label training {len(label_train)}',
     f'panjang data testing {len(data_test)}',
     f'panjang label testing {len(label_test)}',
     sep='\n')

panjang data training 12329
panjang label training 12329
panjang data testing 5284
panjang label testing 5284

In [9]:
dataset_normalisasi = df.copy()
dataset_standarirasi = df.copy()

In [15]:
scaler = MinMaxScaler()

normalize_dataset = scaler.fit_transform(dataset_normalisasi[['Daily_Case', 'Daily_Death', 'Active_Case']])

normalize_dataset = pd.DataFrame(normalize_dataset)
normalize_dataset.rename(columns={ 0 :'Daily_Case', 1 : 'Daily_Death', 2 : 'Active_Case'}, inplace=True)

normalize_dataset.head(5)

   Daily_Case  Daily_Death  Active_Case
0    0.000137     0.000000     0.635439
1    0.000137     0.000000     0.635439
2    0.000137     0.000000     0.635439
3    0.000137     0.000000     0.635439
4    0.000000     0.001838     0.635325

In [19]:
ss = StandardScaler()
Scaled_data = ss.fit_transform(df[['Daily_Case', 'Daily_Death', 'Active_Case']])

In [20]:
print("Nilai Sebelum Standarisasi : ")
print("Standar Deviasi : ", np.std(df))

Nilai Sebelum Standarisasi :
Standar Deviasi :  Daily_Case                  721.850618
Daily_Death                  27.145808
Daily_Recovered             736.070970
Active_Case                 458.883245
Cumulative_Case           73649.460205
Cumulative_Recovered      65491.589418
Cumulative_Death           2129.428140
Cumulative_Active_Case     8872.491951
dtype: float64

C:\Users\ACER\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

In [115]:
dataset_ns = df.copy()
dataset_ns2 = df2.copy()

In [116]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

In [117]:
dataset_ns2['pendidikan'] = imputer_modus.fit_transform(dataset_ns[['pendidikan']])

dataset_ns2.isna().sum()

tahun             0
nama_provinsi     0
nama_kabupaten    0
nama_kecamatan    0
nama_kelurahan    0
pendidikan        0
jumlah            0
dtype: int64

In [118]:
dataset_ns2['jumlah'] = imputer_mean.fit_transform(dataset_ns2[['jumlah']])

dataset_ns2.isna().sum()

tahun             0
nama_provinsi     0
nama_kabupaten    0
nama_kecamatan    0
nama_kelurahan    0
pendidikan        0
jumlah            0
dtype: int64

In [119]:
dataset_ns2.dropna(inplace=True)

dataset_ns2.isna().sum()

tahun             0
nama_provinsi     0
nama_kabupaten    0
nama_kecamatan    0
nama_kelurahan    0
pendidikan        0
jumlah            0
dtype: int64

In [120]:
len(dataset_ns)

2666

In [121]:
dataset_duplicate = df.copy()

dataset_duplicate.duplicated().sum()

0

In [122]:
dataset_duplicate.drop_duplicates(inplace=True)

dataset_duplicate.duplicated().sum()

0

In [123]:
dataset_ordinal = df.copy()
dataset_one_hot = df.copy()

In [124]:
df['pendidikan'].unique()

array(['Tidak/Belum Sekolah', 'Belum Tamat SD/Sederajat',
       'Tamat SD/Sederajat', 'SLTP/Sederajat', 'SLTA/Sederajat',
       'Diploma I/II', 'Akademi/Diploma III/S. Muda',
       'Diploma IV/Strata I', 'Strata II', 'Strata III'], dtype=object)

In [125]:
encoder_ordinal =OrdinalEncoder()

#encoding kan
dataset_ordinal['pendidikan'] = encoder_ordinal.fit_transform(dataset_ordinal[['pendidikan']]).astype('int64')

#lihat
dataset_ordinal.head()

,tahun,nama_provinsi,nama_kabupaten,nama_kecamatan,nama_kelurahan,pendidikan,jumlah
0,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,9,124
1,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,1,747
2,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,8,1238
3,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,5,988
4,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,4,2556

In [126]:
dataset_ordinal['nama_kabupaten'].unique()

array(['ADM. KEPULAUAN SERIBU', 'JAKARTA PUSAT', 'JAKARTA UTARA',
       'JAKARTA BARAT', 'JAKARTA SELATAN', 'JAKARTA TIMUR'], dtype=object)

In [127]:
temp_dataset = pd.get_dummies(dataset_one_hot[['pendidikan']])

temp_dataset = pd.DataFrame(temp_dataset)

dataset_one_hot.drop('pendidikan', axis=1, inplace=True)

dataset_one_hot = dataset_one_hot.join(temp_dataset)
dataset_one_hot.head(5)

,tahun,nama_provinsi,nama_kabupaten,nama_kecamatan,nama_kelurahan,jumlah,pendidikan_Akademi/Diploma III/S. Muda,pendidikan_Belum Tamat SD/Sederajat,pendidikan_Diploma I/II,pendidikan_Diploma IV/Strata I,pendidikan_SLTA/Sederajat,pendidikan_SLTP/Sederajat,pendidikan_Strata II,pendidikan_Strata III,pendidikan_Tamat SD/Sederajat,pendidikan_Tidak/Belum Sekolah
0,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,124,0,0,0,0,0,0,0,0,0,1
1,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,747,0,1,0,0,0,0,0,0,0,0
2,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,1238,0,0,0,0,0,0,0,0,1,0
3,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,988,0,0,0,0,0,1,0,0,0,0
4,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,2556,0,0,0,0,1,0,0,0,0,0