# POSTTEST 5
# IMPORT PACKACE

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#Untuk Melakukan Data Cleaning
from sklearn.impute import SimpleImputer
#Untuk Melakukan Classifikasi KNN
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
#Untuk Melakukan Classifikasi NAIVE BAYES
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

# Melihat data csv 'Indonesia_coronavirus_daily_data.csv'

In [2]:
df = pd.read_csv('Indonesia_coronavirus_daily_data.csv')
df.head()

,Date,Province,Daily_Case,Daily_Death,Daily_Recovered,Active_Case,Cumulative_Case,Cumulative_Recovered,Cumulative_Death,Cumulative_Active_Case
0,2020-03-01,DKI JAKARTA,2,0,0,2,2,0,0,2
1,2020-03-02,DKI JAKARTA,2,0,0,2,4,0,0,4
2,2020-03-03,DKI JAKARTA,2,0,0,2,6,0,0,6
3,2020-03-04,DKI JAKARTA,2,0,0,2,8,0,0,8
4,2020-03-05,DKI JAKARTA,0,1,0,-1,8,0,1,7

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17613 entries, 0 to 17612
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    17613 non-null  object
 1   Province                17613 non-null  object
 2   Daily_Case              17613 non-null  int64
 3   Daily_Death             17613 non-null  int64
 4   Daily_Recovered         17613 non-null  int64
 5   Active_Case             17613 non-null  int64
 6   Cumulative_Case         17613 non-null  int64
 7   Cumulative_Recovered    17613 non-null  int64
 8   Cumulative_Death        17613 non-null  int64
 9   Cumulative_Active_Case  17613 non-null  int64
dtypes: int64(8), object(2)
memory usage: 1.3+ MB

In [4]:
df.isna().sum()

Date                      0
Province                  0
Daily_Case                0
Daily_Death               0
Daily_Recovered           0
Active_Case               0
Cumulative_Case           0
Cumulative_Recovered      0
Cumulative_Death          0
Cumulative_Active_Case    0
dtype: int64

In [5]:
print(f'panjang dataset {len(df)} baris')

panjang dataset 17613 baris

# Melihat data csv 'data-jumlah-penduduk-berdasarkan-pendidikan-tahun-2021'

In [6]:
df2 = pd.read_csv('data-jumlah-penduduk-berdasarkan-pendidikan-tahun-2021.csv')
df2.head()

,tahun,nama_provinsi,nama_kabupaten,nama_kecamatan,nama_kelurahan,pendidikan,jumlah
0,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,Tidak/Belum Sekolah,124
1,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,Belum Tamat SD/Sederajat,747
2,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,Tamat SD/Sederajat,1238
3,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,SLTP/Sederajat,988
4,2021,PROVINSI DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,PULAU PANGGANG,SLTA/Sederajat,2556

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tahun           2666 non-null   int64
 1   nama_provinsi   2666 non-null   object
 2   nama_kabupaten  2666 non-null   object
 3   nama_kecamatan  2666 non-null   object
 4   nama_kelurahan  2666 non-null   object
 5   pendidikan      2666 non-null   object
 6   jumlah          2666 non-null   int64
dtypes: int64(2), object(5)
memory usage: 145.9+ KB

In [8]:
df2.isna().sum()

tahun             0
nama_provinsi     0
nama_kabupaten    0
nama_kecamatan    0
nama_kelurahan    0
pendidikan        0
jumlah            0
dtype: int64

In [9]:
print(f'panjang dataset {len(df2)} baris')

panjang dataset 2666 baris

# DATA CLEANING

In [10]:
dataset_ns = df.copy()
dataset_ns2 = df2.copy()

In [11]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

# MODUS

In [12]:
dataset_ns2['jumlah'] = imputer_modus.fit_transform(dataset_ns2[['jumlah']])

dataset_ns2.isna().sum()

tahun             0
nama_provinsi     0
nama_kabupaten    0
nama_kecamatan    0
nama_kelurahan    0
pendidikan        0
jumlah            0
dtype: int64

# MEAN

In [13]:
dataset_ns2['jumlah'] = imputer_mean.fit_transform(dataset_ns2[['jumlah']])

dataset_ns2.isna().sum()

tahun             0
nama_provinsi     0
nama_kabupaten    0
nama_kecamatan    0
nama_kelurahan    0
pendidikan        0
jumlah            0
dtype: int64

# Menghapus record/feature

In [14]:
dataset_ns2.dropna(inplace=True)

dataset_ns2.isna().sum()

tahun             0
nama_provinsi     0
nama_kabupaten    0
nama_kecamatan    0
nama_kelurahan    0
pendidikan        0
jumlah            0
dtype: int64

In [15]:
len(dataset_ns)

17613

# DATA DUPLIKAT

In [16]:
dataset_duplicate = df.copy()

dataset_duplicate.duplicated().sum()

0

In [17]:
dataset_duplicate.drop_duplicates(inplace=True)

dataset_duplicate.duplicated().sum()

0

# Naïve Bayes

In [18]:
x = dataset_ns[['Daily_Case','Daily_Death','Daily_Recovered','Active_Case']]
y = dataset_ns['Province']

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.3, shuffle=False, stratify=None)

In [20]:
classifier = GaussianNB()

In [21]:
classifier.fit(x_train,y_train)

GaussianNB()

In [22]:
predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [23]:
print(f'Hasil Prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'Akurasi: {accuracy}',
     sep = '\n'
)

Hasil Prediksi: ['SULAWESI UTARA' 'NUSA TENGGARA BARAT' 'NUSA TENGGARA BARAT' ... 'BANTEN'
 'KALIMANTAN TIMUR' 'BANTEN']
Class: 12329                   RIAU
12330                   RIAU
12331                   RIAU
12332                   RIAU
12333                   RIAU
                ...
17608    NUSA TENGGARA TIMUR
17609    NUSA TENGGARA TIMUR
17610    NUSA TENGGARA TIMUR
17611    NUSA TENGGARA TIMUR
17612    NUSA TENGGARA TIMUR
Name: Province, Length: 5284, dtype: object
Akurasi: 0.001514004542013626

In [24]:
classifier.score(x_test,y_test)

0.001514004542013626

# KNN (K-NEAREST NEIGHBOUR) CLASSIFICATION

In [25]:
dataset_ns.head()

,Date,Province,Daily_Case,Daily_Death,Daily_Recovered,Active_Case,Cumulative_Case,Cumulative_Recovered,Cumulative_Death,Cumulative_Active_Case
0,2020-03-01,DKI JAKARTA,2,0,0,2,2,0,0,2
1,2020-03-02,DKI JAKARTA,2,0,0,2,4,0,0,4
2,2020-03-03,DKI JAKARTA,2,0,0,2,6,0,0,6
3,2020-03-04,DKI JAKARTA,2,0,0,2,8,0,0,8
4,2020-03-05,DKI JAKARTA,0,1,0,-1,8,0,1,7

In [26]:
dataset_ns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17613 entries, 0 to 17612
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    17613 non-null  object
 1   Province                17613 non-null  object
 2   Daily_Case              17613 non-null  int64
 3   Daily_Death             17613 non-null  int64
 4   Daily_Recovered         17613 non-null  int64
 5   Active_Case             17613 non-null  int64
 6   Cumulative_Case         17613 non-null  int64
 7   Cumulative_Recovered    17613 non-null  int64
 8   Cumulative_Death        17613 non-null  int64
 9   Cumulative_Active_Case  17613 non-null  int64
dtypes: int64(8), object(2)
memory usage: 1.3+ MB

In [27]:
x = dataset_ns[['Daily_Case','Daily_Death','Daily_Recovered','Active_Case']]
y = dataset_ns['Province']

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0, test_size=.2)

In [29]:
classifier = KNeighborsClassifier(n_neighbors = 9)

In [30]:
classifier.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=9)

In [31]:
predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [32]:
print(f'Hasil Prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'Akurasi: {accuracy}',
     sep = '\n'
)

Hasil Prediksi: ['ACEH' 'NUSA TENGGARA TIMUR' 'GORONTALO' ... 'JAMBI' 'SUMATERA SELATAN'
 'MALUKU']
Class: 536                     JAWA BARAT
9950             SULAWESI TENGGARA
10296            SULAWESI TENGGARA
5873              SUMATERA SELATAN
8744              KALIMANTAN UTARA
                   ...
15845    KEPULAUAN BANGKA BELITUNG
2405              SULAWESI SELATAN
13079               SULAWESI BARAT
14817                       MALUKU
3641           NUSA TENGGARA BARAT
Name: Province, Length: 3523, dtype: object
Akurasi: 0.10360488220266818

In [33]:
classifier.score(x_test,y_test)

0.10360488220266818